/*********************
GENERAL STYLES
*********************/
html {
    overflow-x: hidden;
    box-sizing: border-box;
    /* magic... */
    overflow-y: scroll;

    --flow-small: 10px;
    --flow-medium: 20px;
    --flow-big: 30px;
    
    --font-xsmall: 12px;
    --font-small: 13px;
    --font-text: 16px;
    --font-medium: 26px;
    --font-large: 26px;
    --font-very-large: 40px;
    --font-xlarge: 120px;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //line-height: 1;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.hidden {
    color: transparent;
    visibility: hidden;
    height: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    text-rendering: optimizelegibility;
    font-weight: normal;
    font-family: var(--font-sans);
    margin: 0;

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h2{
    font-weight: 600;
}

// preheadline  headline combo
h4+h2{
    margin-top: calc(-1 * var(--spacing-lg));
}

p.site-title{
    margin: 0;
}

p{
    margin: 0;
    font-size:var(--text-m );
    line-height: var(--lineheight-2xl);

    &.small{
        font-size: var(--text-s);
    }
}

.flex img{
    align-self: baseline;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 90%;
    margin: 0 auto;
}

#main{
    min-height: 200vh;
    overflow: visible;
}

/////// HEADER
.page__header{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

/////// LOGO
.logo{
    z-index: 20;
    a{
        display: inline-block;
        width: 117px;
        height: 16px;
        background: transparent url("../images/svg/logo-black.svg") left center / contain no-repeat ;
    }
}

//////////// NAV 
/// 
.main-navigation{
    display: none;
}

.main-navigation ul{
  display: flex;
    li{
        &>a{
            padding: 6px 12px;
        }
    }
}

.nav-toggle {
    transform: translateX(0%);
    width: 70px;
    height: 55px;

    .type{
        display: none;
    }
}

/// OVERLAY
/// 
/// SUB MENU
.page-overlay{
    .menu__mobile_menu{
        .sub_menu-toggle{
            top: 14px;
        }
    }
}


/*********************
CURSOR SNAP
*********************/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    background: var(--pink);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    z-index: 0;
    transition:
        all 0.2s ease; 
    }

.snap.is-snapped {
    color: white;
    border: 1px solid var(--pink);     
}


/*********************
START SECTION 
*********************/
#start-section{
    display: flex;

    &>div{
        width: 50%;
        position: relative;
    }

    .page-menu-container, .start-section_button-container{
        position: relative;
        width: 200%;
    }

    .page-menu{
        list-style: none;
        padding: 0 0 0 40px;
        margin: 0;
        position: relative;
        z-index: 2;
        left: -40px;
        pointer-events: none;
        li{
            pointer-events: none;
        }
      
        &::before{
            content: '';
            display: block;
            width: 60px;
            height: 60px;
            margin-left: 10px;
            background: url("../images/svg/monkey.svg") center center / contain no-repeat;
        }
        a{
            text-decoration: none;
            display: inline-block;
            color: black;
            font-size: var(--headline-2xl);
            display: inline-block;
            padding: 20px 0  20px 0;
            font-weight: 700;
            line-height: var(--lineheight-xs);
            transition: color 0.2s ease;
            pointer-events: auto;
            &:hover{
                color: var(--pink)
            }
        }
    }

    .highlight {
        position: absolute;
        width: 83px;
        height: 20px;
        background:  url("../images/svg/deco-color.svg") center center / contain no-repeat;
        top: 0;
        left: -50px;
        z-index: 3;
        transition: all 0.3s ease;
        transform: rotate(90deg);
        opacity: 1;     
    }


    /////////PARALAX
    .parallax {
            position: relative;
            perspective: 1000px;
            overflow: visible;

        }
    
        svg {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: visible;
            top: calc(3vw * -1);
        }
    
        .layer {
            position: relative;
            z-index: 1;
    
        }
    
        .st0 {
            fill: #66ff7d;
        }
    
        .st1 {
            fill: #ff25db;
        }
    
        .st2 {
            fill: #223871;
        }
    
        .st3 {
            fill: #fff;
        }
    
        .st4 {
            fill: #6498c3;
    
        }
    
        .st5 {
            fill: #0051ff;
        }
    
        .st6 {
            fill: #0051ff;
        }
    
        .black {
            fill: black;
        }
    
    
        .layer {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 25%;
            left: 25%;
            background-size: cover;
            background-position: center;
            transition: transform 0.1s linear;     
        }
} // END START SECTION  



.social_container a{
    color: white;
    font-size: 26px;
    display: inline-block;
    &+a{
        margin-left:15px;
    }
}

.otgs-development-site-front-end{
    display: none;
}

/////////////////////////////////
// FLEXIBLE CONTENT 
/////////////////////////////////

// SECTION  

section{
    padding: var(--spacing-xxl) 0;
    &.fullwidth{
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}


// DECO BAR
.deco-bottom, .deco-top{
    &::after{
        position: absolute;
        bottom: -20px;
        content: '';
        width: 100%;
        height: 70px;
    }
}

.deco-bottom{
    &::after {
        bottom: -20px;
    }
}
.deco-top {
    &::after {
        top: -40px;
        height: 40px;
    }
}

.deco-style-color{
    &::after {
            background: url(../images/svg/bar-color.svg) left -20px / cover repeat-x;
        }
    &.deco-bottom{
        &::after{
            bottom: -70px;
            background-position: left -60px;
        }
    }    
}

.deco-style-plain {
    &::after {
        background: url(../images/svg/bar-gray.svg) left top / contain repeat-x;
    }
}

// INNER CONTAINER
.inner-wrap{
    
    .col-50{
        width: 50%;
        min-width: 50%;
        flex-basis: 50%;
    }
    .col-66{
        width: 66%;
    }

    .col-33{
        width: 33%;
    }

    .col-auto{
        flex-grow: 0;
    }

    div{
        gap: var(--spacing-lg);
    }
}

// FLEX
.flex{
    display: flex;
   
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.items-left{
    justify-content: flex-start;
}

.gab-md{
    gap: var(--spacing-lg);
}


// BACKGROUNDS
.bg-light-blue{
    background: var(--colors-Light-Blue);
}

.bg-very-light-blue {
    background: var(--colors-Very-Light-Blue);
}
