/*********************
GENERAL STYLES
*********************/
html {
    overflow-x: hidden;
    box-sizing: border-box;
    /* magic... */
    overflow-y: scroll;

    --flow-small: 10px;
    --flow-medium: 20px;
    --flow-big: 30px;
    
    --font-xsmall: 12px;
    --font-small: 13px;
    --font-text: 16px;
    --font-medium: 26px;
    --font-large: 26px;
    --font-very-large: 40px;
    --font-xlarge: 120px;

    --main-gap: var(--spacing-xxl);
}

body {
    margin: 0;
    font-family: var(--font-text-regular);
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //line-height: 1;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.hidden {
    color: transparent;
    visibility: hidden;
    height: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    text-rendering: optimizelegibility;
    font-weight: normal;
    font-family: var(--font-headline);
    margin: 0;

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h2{
    font-weight: 600;
}

// preheadline  headline combo
h4+h2{
    margin-top: calc(-1 * var(--spacing-lg));
}

p.site-title{
    margin: 0;
}

.taxonomy-header h1{
    font-size: var(--text-xl);
}

p{
    margin: 0;
    font-size:var(--text-m );
    line-height: var(--lineheight-2xl);
    max-width: 80ch;

    &.text--small{
        font-size: var(--text-xs);
        line-height: var(--lineheight-2xl);
        font-weight: 400;
    }

}

p+p{
    margin-top: var(--spacing-l);
}

.flex img{
    align-self: baseline;
}

.color--white, .color-white{
    color: white;
}

.text--small, .text--small p{
    font-size: var(--font-small);
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    width: 90%;
    margin: 0 auto;
}

#main{
   // min-height: 100vh;
   // overflow: visible;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
    position: relative;
    margin-top: 150px;
    padding: var(--spacing-2xl) 0;
}



/////// HEADER
.page__header{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.top-header{
    .inner-wrap{
        justify-content: space-between;
        align-items: center;
    }
    
}

.header__quick-contact{
   &>span{
    display: inline-block;
    span{
        margin-right: var(--spacing-s);
    }
   }
    span, a{
    color: white;
    font-size: var(--text-s);
    text-decoration: none;
    
    }
    a:hover,a:hover span {
        color: var(--colors-Blue-300)
    }
    

}
/////// LOGO
.logo{
    z-index: 20;
    font-size: 34px;
    line-height: 1;
    width: 200px;
    a{
        text-decoration: none;
        display: inline-block;
     
        span{
            font-weight: 600;
        }
    }
}


//////////// NAV 
/// 
.main-navigation{
    display: none;
}

.main-navigation ul{
  display: flex;
margin: 0;
}

.nav-toggle {
    transform: translateX(0%);
    width: 70px;
    height: 55px;

    .type{
        display: none;
    }
}

/// OVERLAY
/// 
/// SUB MENU
.page-overlay{
    .menu__mobile_menu{
        .sub_menu-toggle{
            top: 14px;
        }
    }
}




.otgs-development-site-front-end{
    display: none;
}

/////////////////////////////////
// FLEXIBLE CONTENT 
/////////////////////////////////

// SECTION  

section{
    padding: var(--spacing-2xl) 0;
    &.fullwidth{
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}




// INNER CONTAINER
.inner-wrap{

    &>div{
        gap: var(--spacing-l);
    }
}

//TABS

.tabs {
    max-width: 600px;
    font-family: sans-serif;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-buttons {
    display: flex;

}

.tab-buttons label {
        font-size: var(--text-s);
    padding: 6px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    color: var(--colors-Gray-500);
    font-weight: 600;
}

.tab-content {
    opacity: 0;
    padding: var(--spacing-l) 0;
    visibility: hidden;
    position: absolute;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    //gap: var(--spacing-xs);
    p{
        font-size: var(--text-s);
        line-height: 1.5;
    }
    &.product__desc p+p{
        margin-top: var(--spacing-m);
    }
}

#tab1:checked~.content1,
#tab2:checked~.content2 {
    opacity: 1;
    visibility: visible;
    position: relative;
}

#tab1:checked~.tab-buttons label[for="tab1"],
#tab2:checked~.tab-buttons label[for="tab2"] {
    background: white;
    border-bottom: 1px solid #000;
    color: #000
}

.product__details-specs{
    p{
        padding: var(--spacing-s);
        span{
            font-weight: 600;
        }
    }
    p+p{
        margin-top: 0;
    }
    p:first-child{
        padding-top:var(--spacing-xxs)
    }
    p:nth-child(even){
        background: var(--colors-Gray-100);
    }

}



// COLUMNS
.col-50 {
    width: 50%;

    flex-basis: 50%;
}

.col-66 {
    width: 66%;
}

.col-33 {
    width: 33%;
}

.col-25 {
    width: 25%;
}


// FLEX STUFF
.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.items-left{
    justify-content: flex-start;
}
.items-right {
    justify-content: flex-end;
}

.items-justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.items-vert-center{
    justify-content: center;
}


.gap-xs{
gap: var(--spacing-xs);
}
       
.gap-s {
    gap: var(--spacing-m);
}

.gap-m{
    gap: var(--spacing-xl);
}

.gap-l {
    gap: var(--spacing-xxl);
}

.text-align-center{
    text-align: center;
}

.content-section .wrap:has(> :only-child){
    justify-content: center;
}

// ABSTÄNDE ANPASSEN NACH HEADER
.flexible_header, .bg-transparent{

    & + section.bg-light-gray {
            margin-top: var(--negative-spacing);
        }

} 

section.bg-light-gray{
    & + .bg-white, & + .bg-transparent{
        margin-top: var(--negative-spacing);
    }
}

// FULLWIDTH IMAGE WITH BLACK
.fullwidth{
    .image-container{
        --ratio: 8/3;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: var(--ratio);
        overflow: hidden;
        img{
            position: absolute;
            object-fit: cover;
            width: 100%;
                min-height: 400px;
                aspect-ratio: var(--ratio);
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
        .backdrop{
            //display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
        }
    }

}

.section__image-header{
    aspect-ratio: 8/3;;
    .inner-wrap{
        position: relative;
    }
}





/////////////////////////////////
// BOXES AND BANNERS
/////////////////////////////////

.box{
    padding: var(--spacing-l);
    border-radius: 8px;;
}
// BACKGROUNDS
.bg-green{
    background: var(--gradient-green);
    color: white;
}

.bg-light-gray {
    background: var(--colors-Gray-100);

}

// PROJECT TEASER GRID

.teaser-card{
    margin-top: var(--spacing-md);
    h3{
        font-size: var(--text-m);
    }
}



// BIG HEADER IMAGE TEMPLATE
.page-template-page-with-imageheader{

    #main{
        position: relative;
        margin-top: -88px;
    }

    .header{
        position: relative;
        z-index: 5;
        .header__logo a{
            background: transparent url("../images/svg/logo-white.svg") left center / contain no-repeat;
        }
        .header__main-navigation{
            li:not(.nav_contact) a{
                color: white;
                &:hover{
                    color: var(--colors-Pink-Dark);
                    background: white;
                }
            }
            li.current_page_item a{
                //color: var(--colors-Pink);
                background-color: RGBA(0, 0, 0, 0.1);
                &:hover{
                    background-color: white;
                }
            }
        }
    }

}


// BIG HEADER IMAGE
.section__image-header{
    position: relative;
    z-index: 2;
    .deco-container{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
       
        &::before, &::after{
            content: '';
            display: inline-block;
            position: absolute;
        }
        
        &::before{
            top: -100px;
            left: -1px;
            background:  url(../images/svg/element-1b.svg) top left no-repeat;
            aspect-ratio: 1 / 2;
            width: 10vw;
            max-width: 85px;
        }

        &::after{
            top: -44px;
            right: 0;
            background: url(../images/svg/element-2.svg) top left no-repeat;
            aspect-ratio: 3 / 2;
            //width: 15vw;
            width: 150px;
            max-width: 150;
        }
    }


    .flex-content{
        gap:0;
        margin-top: -20px;
    }

    h1, h2, h3, h4{
        color: white;
    }
    h1{
        font-size: var(--headline-2xl);
        text-transform: uppercase;
    }
    h3{
        opacity: 0.3;
        font-weight: 400;
    }

}

//////////////////////
///////// BANNER
//////////////////////

.banner{
padding: var(--spacing-2xl) 0;
min-height: 350px;
    color: white;

    .col-33 {
            border-left: 1px solid white;
            padding-left: var(--spacing-l);
            justify-content: space-between;
        }

}

.banner__headline {
    font-family: var(--font-headline);
    font-size: var(--headline-xl);
    font-weight: 200;
}

.banner__text {
    font-family: var(--font-headline);
    font-size: var(--headline-l);
    font-weight: 700;
}

.banner__green{  
    background: url(../images/svg/vector-green.svg) left/contain no-repeat, var(--gradient-green);
}

.banner__purple {
    background: url(../images/svg/vector-purple.svg) left/contain no-repeat, var(--gradient-purple);

    .banner__text{
        font-family: var(--font-text);
        font-size: var(--text-m);
        font-weight: 500;
    }
}

//////////////////////
// HERO PRODUCTS
//////////////////////
/// 

.hero_product{
    .section-tag{
        background: rgba(255, 255, 255, .25);
        color: var(--section-color);
        align-self: flex-start;
        //height: 30px;
        padding: 7px 17px 5px;
        font-family: var(--font-headline);
        font-size: 12px;
    }

    .hero_text
    {
        color: var(--section-color);
    }

    &.hero-bg-green{
        --section-color: var(--colors-Green-600);
    }
    &.hero-bg-blue {
        --section-color: var(--colors-Blue-700);
    }

    &.hero-bg-white {
        --section-color: var(--colors-Green-400);
    }

    &.hero-bg-light-gray {
        --section-color: var(--colors-Gray-200);
    }

    &.hero-bg-light-gray, &.hero-bg-white{
        --section-color: var(--colors-Green-300);
        .section-tag{
            background: var(--section-color);
            color: white;
        }
    }
}

.hero_product--fullsize, .hero_product--fullscreen{
    position: relative;
    padding: 30px 0 30px 30px;
    color: white;

    div { position: relative;  }


    &.hero-bg-light-gray, &.hero-bg-white{
        color: var(--colors-Text-Black);
        .hero_text{
            color: var(--colors-Text-Black); 
        }
        .button{
            background: var(--colors-Blue-500);
            &:hover{
                background: var(--colors-Blue-700);
                color: white;
            }
            &:active{
                background: var(--colors-Blue-300);
            }
        }
    }

    .hero__background{
       
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 80%;
        border-radius: 8px;
        z-index: 0;
        &.bg-green{
            background: var(--gradient-green);
        }
        &.bg-blue {
            background: var(--gradient-blue);
        }

        &.bg-light-gray {
            background: var(--colors-Gray-100);
        }
    }

    .hero__image-container{
        -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2); 
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
        border: 6px solid white;
        background: white;
        border-radius: 8px;
        
        -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        img{
            border-radius: 6px;
        }
    }   
}

.hero_product--fullscreen{
    .hero__background{
        border-radius: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
    }
}

.hero_product--half {
    position: relative;
    padding: 30px;
    color: white;
    border-radius: 8px;
    min-height: 400px;

    div { position: relative;  }

    .background_image{
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 0;
        display: flex;
        img {
                max-height: 75%;
                align-self: unset;
            }
        &.image_position--top_right{
            justify-content: flex-end;   
        }

        &.image_position--center_right {
            justify-content: flex-end;
            align-self: center;

        }

        &.image_position--bottom_right {
            justify-content: flex-end;
            align-items: flex-end;
        }
    }

    &.hero-bg-green {
        background: var(--gradient-green);
    }

    &.hero-bg-blue {
        background: var(--gradient-blue);
    }
}

/*
* PAGE HEADER FLEXIBLE
*/

.flexible_header{
    padding: var(--spacing-xl) 0 var(--spacing-2xl);
 .subheadline{
    color: var(--colors-Green-300);
    font-size: var(--text-m);
 }

    &.header--text_center, &.header--text_left{
    position: relative;
   
    &::after{
        width: 100vw;
        position: absolute;
        left: 50%;
        bottom: 0;
        content: '';
        transform: translateX(-50%);
        border-bottom: 8px solid var(--colors-Green-300);
        }
    }
    
   &.header--text_left{
    .scroll_down{
        display: none;
    }
   } 


&.header--text_center, &.header--image_full{
    justify-content: center;
    &>div{
        position: relative;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .header_text{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .scroll_down{
            margin-top: var(--spacing-xl);
        }
    }
   
}

&.header--image_full, &.header--image_50{
    margin-top: var(--negative-spacing);
}

&.header--image_full{
    position: relative;
    min-height: 450px;

    .header__background{
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        overflow: hidden;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            position: relative;
        }
        .backdrop{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            z-index: 5;
        }
    }
    color: white;
}

&.header--image_50{
    width: 100vw;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    padding: 0;
    gap: 0;
    &.header-bg-green{
        .header__content{
            background: var(--gradient-green);
        }
        
        color: white;
        .subheadline{
            color: white;
        }
    }

    .header__content{
        order: 1;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: var(--spacing-xl);
    }

    .scroll_down{
        background: RGBA(0, 0, 0, 0.1);
        &:hover{
            background: RGBA(0, 0, 0, 0.2);
        }
        &:active {
            background: RGBA(0, 0, 0, 0.15);
        }
    }

    .header__background{
        order:2;
        width: 50%;
        position: relative;
        .backdrop {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: black;
                z-index: 5;
            }
    }
}

}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/*********************
BREADCRUMBS
*********************/
#breadcrumbs{
    font-size: var(--text-xs);
    color: var(--colors-Gray-500);
    a{
        text-decoration: none;
        color: var(--colors-Gray-700);
        &:hover{
            color: var(--colors-Blue-500);
        }
    }
}

//////////////////////
// PRODUCT SINGLE
//////////////////////
/// 

.single-product .site-main{
    padding: var(--spacing-xl) 0;
    h1{
        font-size: var(--headline-m);
        font-weight: 600;
    }
}

.product-container{
   // background: #eee;

}


.product__gallery{
    width: 100%;
    .gallery-item{
        min-width: 0;
        max-width: 180px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item--wide{
        flex: 3;
    }
 

    a:hover img{
        opacity: 0.8;
    }
}

.product__main-image, .product__gallery .gallery-item{
    border: 1px solid var(--colors-Gray-200);
}

.product__main-image{
    a{
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}



.image-container--3-2{
    aspect-ratio: 3 / 2;
    max-width: 100%;
    overflow: hidden;
}

.product__gallery-more{
    flex: 2;
    border: 1px solid var(--colors-Gray-200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xl);
    text-decoration: none;
    font-weight: 600;
    background: transparent;
    color: var(--colors-Gray-300);
    &:hover{
        color: var(--colors-Gray-500);
        background: inherit;
    }
}

.pricing-form {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.product__form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

#custom-amount, #custom-format{
    margin-top: var(--spacing-s);
    span{
        display: inline-block;
        min-width: 120px;
    }
}

#summary {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: var(--text-xl);

    .sum-total{
        font-size: var(--text-m);
    }
}


// TAG ABOVE SECTION   
.section-with-tag{
    border-top: var(--section-border);
    padding-top: calc(var(--spacing-xl) + 15px); // regluar padding + half the tag
    position: relative;
    .section-tag{
        --tag-color: var(--colors-Green-300);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    .section-title{
        text-align: center;
    }
}

.section-tag {
    --tag-color: var(--colors-Green-300);
    padding: 8px 13px 9px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    color: white;
    font-size: var(--text-xs);
    font-weight: 600;
    background-color: var(--tag-color);

    &.section-tag--green {
        --tag-color: var(--colors-Green-300);
    }

    &.section-tag--pink {
        --tag-color: var(--colors-Purple-500);
    }
}



//////////////////////
///////// FOOOTER
//////////////////////

.site-footer{
    
   // margin-top: calc(-1 * var(--main-gap));
    background: var(--colors-Blue-700);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    .inner-wrap{
        padding: var(--spacing-xl) 0 0;
        &>div{
            padding:0 0 50px 0;
        }
    }
}

.footer-menu{
   
    font-size: var(--text-s);
    list-style: none;
   column-gap: var(--spacing-s);
    column-count: 2;

    a{  
        display: inline-block;
        padding: var(--spacing-xxs);
        text-decoration: none;
        color: white;
        &:hover{
       
        }
    }

}

.footer-adress{
    color: white;
    display: flex;
    justify-content: flex-end;
    p{
        font-size: var(--text-s);
        width: auto;
        display: inline-block;
        align-self: flex-end;
    }
    .social_container{
        display: flex;
        justify-content: flex-end;
    }
   
}

.footer-bottom {
    height: 40px;
    background: var(--colors-Blue-900);
    position: relative;

}

.back-to-top{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: var(--colors-Blue-700);
    border: 1px solid var(--colors-Blue-400);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
       background: var(--colors-Blue-900);
        border: 1px solid var(--colors-Blue-500);
    }
    &:active{
        background: var(--colors-Blue-500);
        border: 1px solid var(--colors-Blue-400);
    }
    
    span{
        display: inline-block;
        width: 12px;
            height: 12px;
            margin-top: 0px;
            background: url(../images/icons/icon-arrow-white.svg) center center / 12px 12px no-repeat;
            transform: rotate(0deg);
    }
}

.scroll_down{

    width: 40px;
    height: 40px;
    background: var(--colors-Green-300);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
       background: var(--colors-Green-200);
     
    }
    &:active{
        background: var(--colors-Green-300);
    }
    &:focus{
        outline: none;
    }
    
    span{
        display: inline-block;
        width: 12px;
            height: 12px;
            margin-top: 0px;
            background: url(../images/icons/icon-arrow-white.svg) center center / 12px 12px no-repeat;
            transform: rotate(180deg);
    }
}


//placeholder css


.taxonomy-header {
    padding: 0;
}

.sticky-border {
    position: sticky;
    top: 90px;
    width: 100%;
    z-index: 2;

    span {
        display: inline-block;
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 8px solid var(--colors-Brown-400);
    }

}

.taxonomy-footer{
    .sticky-border{
        margin-bottom: var(--spacing-xl);
    }
}

.taxonomy-header-regalwerbung, .parent-regalwerbung, .taxonomy-footer-regalwerbung
{
    &+.sticky-border span{
            border-bottom: 8px solid var(--colors-Brown-400);
        }  
}



.taxonomy-header-pos-material,
.parent-pos-material {

    &+.sticky-border span {
        border-bottom: 8px solid var(--colors-Blue-400);
    }
}




.subcategory-grid, .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xl);
}

.products-grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.subcategory-card, .product-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

    display: flex;
    flex-direction: column;

    .button{
        align-self: auto;
    }
}


.subcategory-slider {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.subcategory-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.subcategory-content {
    padding: 1.5rem;
    flex: 1;
    justify-content: space-between;
    h3{
        font-size: var(--text-m);
        
    }
}


/* Swiper container */
.subcategory-slider {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

/* Swiper internals */
.subcategory-slider .swiper-wrapper,
.subcategory-slider .swiper-slide {
    height: 100%;
}

/* Images */
.subcategory-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Pagination */
.subcategory-slider .swiper-pagination {
    bottom: 10px !important;
}

/* Navigation arrows */
.subcategory-slider .swiper-button-prev,
.subcategory-slider .swiper-button-next {
    transform: translateY(50%);
    width: 40px;
    height: 40px;
}

.subcategory-slider .swiper-button-prev::after,
.subcategory-slider .swiper-button-next::after {
    font-size: 10px;
}

/* Arrows */

.subcategory-slider .swiper-button-prev,
.subcategory-slider .swiper-button-next {
    width: 24px;
    height: 24px;

    background: rgba(255, 255, 255, .5);
    border-radius: 50%;

    color: #000;
}

.subcategory-slider .swiper-button-prev::after,
.subcategory-slider .swiper-button-next::after {
    font-size: 10px;
    font-weight: 600;
}

/* Bullets */

.subcategory-slider .swiper-pagination {
    bottom: 12px !important;
}

.subcategory-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    background: white;
    border: 1px solid white;
}

.subcategory-slider .swiper-pagination-bullet-active {
   background: var(--colors-Gray-500);
}


// IMAGE GRID

.image_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
}

.grid_image{
    aspect-ratio: var(--ratio-landscape);
}

.image_grid img {
    width: 100%;
    display: block;
    aspect-ratio: var(--ratio-landscape);
    object-fit: cover;
}

// PRODUCT CARD

.product-card {
    a {
        text-decoration: none;

        &:hover {
            .details-link {
                opacity: 1;
            }

            .product-card__image-container {
                background: black;
                img{
                    opacity: 0.6;
                }
            }
        }
    }

    .product-card__content {
        padding: var(--spacing-m);
        padding-top: 0;
    }

    h2 {
        font-size: var(--text-m);
    }
}


.product-card__image-container {
    position: relative;
    transition: all 0.2s ease;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    background: #eee;
    text-align: center;
    display: flex;
    justify-content: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s all var(--ease);
    }

    .image-placeholder {
       aspect-ratio: 4 / 3;
        overflow: hidden;
        background: #eee;
        background: url("../images/image-placeholder.png") center center / cover no-repeat;
    }
}

.details-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--colors-Green-300);
    padding: 5px 13px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: all 0.2s ease;
}



@media (max-width: 1024px) {
    .subcategory-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .subcategory-grid {
        grid-template-columns: 1fr;
    }
}