@media only screen and (min-width: 1440px) {

    html{
        --font-xsmall: 12px;
        --font-small: 13px;
        --font-text: 18px;
        --font-medium: 26px;
        --font-large: 36px;
        --font-very-large: 60px;
        --font-xlarge: 120px;
    }

        /// OVERLAY
        /// 
        /// SUB MENU
        .page-overlay {
            .menu__mobile_menu {
                .sub_menu-toggle {
                    top: 20px;
                }
            }
        }

}