@media only screen and (min-width: 1240px) {

    html{
        --font-xsmall: 12px;
        --font-small: 13px;
        --font-text: 18px;
        --font-medium: 26px;
        --font-large: 36px;
        --font-very-large: 60px;
        --font-xlarge: 120px;
    }

    .main-navigation ul .wpml-ls-item a {
        font-size: 16px;   
    }

        /// OVERLAY
        /// 
        /// SUB MENU
        .page-overlay {
            .menu__mobile_menu {
                .sub_menu-toggle {
                    top: 20px;
                }
            }
        }

}


.wrap{
    max-width: 1440px;
}