@media only screen and (min-width: 1240px) {

    html{
        --font-xsmall: 12px;
        --font-small: 13px;
        --font-text: 18px;
        --font-medium: 26px;
        --font-large: 36px;
        --font-very-large: 60px;
        --font-xlarge: 120px;
    }

    .main-navigation ul .wpml-ls-item a {
        font-size: 16px;   
    }

        .main-navigation ul.main-navigation__menu {
            >li>a:after {
                display: inline-block;
            }
        }


    /// OVERLAY
    /// 
    /// SUB MENU
    .page-overlay {
        .menu__mobile_menu {
            .sub_menu-toggle {
                top: 20px;
            }
        }
    }

        .subcategory-grid,
        .products-grid {
            
            gap: var(--spacing-xl);
        }

    .products-grid-4,
    .post-grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }

        .l\:gap-xs {
            gap: var(--spacing-xs);
        }
    
        .l\:gap-s {
            gap: var(--spacing-m);
        }
    
        .l\:gap-m {
            gap: var(--spacing-xl);
        }
    
        .l\:gap-l {
            gap: var(--spacing-xxl);
        }

}



.wrap{
    max-width: 1440px;
}