@font-face {
    font-family: 'Alexandria';
    src: url('../fonts/Alexandria/Alexandria-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
	// FONTSTACKS
	--font-text-regular: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-text-bold: "Lato-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "Alexandria", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

    h1{
        font-size: var(--headline-xl);
        font-weight: 700;
        line-height: var(--lineheight-m);
        &.page-title{
           font-size: var(--headline-2xl);
            
        }
    }
    h2 {
        font-size: var(--headline-l);
        line-height: var(--lineheight-m);
        font-weight: 600;
    }
    h3 {
        font-size: var(--headline-m);
        line-height: var(--lineheight-l);
        font-weight: 600;
    }

    h4 {
        font-size: var(--headline-s);
        line-height: var(--lineheight-l);
        font-weight: 300;
    }


    
}

strong{
    font-family: var(--font-text-bold);
    font-weight: 700;
}