@font-face {
    font-family: 'Zodiak';
    src: url('../fonts/Zodiak-Variable.eot');
    src: url('../fonts/Zodiak-Variable.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Zodiak-Variable.woff2') format('woff2'),
        url('../fonts/Zodiak-Variable.ttf') format('truetype'),
        url('../fonts/Zodiak-Variable.svg#font-name') format('svg');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans-Variable.eot');
    src: url('../fonts/GeneralSans-Variable.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
        url('../fonts/GeneralSans-Variable.ttf') format('truetype'),
        url('../fonts/GeneralSans-Variable.svg#font-name') format('svg');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

html {
	// FONTSTACKS
	--font-serif: "Zodiak", "Garamond", "Times New Roman", serif;
	--font-sans: "GeneralSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    h1{
        font-size: var(--headline-xl);
        font-weight: 700;
        line-height: var(--lineheight-m);
        &.page-title{
           font-size: var(--headline-2xl);
            
        }
    }
    h2 {
        font-size: var(--headline-l);
        line-height: var(--lineheight-m);
        font-weight: 600;
    }
    h3 {
        font-size: var(--headline-m);
        line-height: var(--lineheight-l);
        font-weight: 600;
    }

    h4 {
        font-size: var(--headline-s);
        line-height: var(--lineheight-l);
        font-weight: 300;
    }


    
}

strong{
    font-weight: 600;
}