html{
    //base-colors
    --black: #0b0e1b;
    --true-black: 000;
    --main-color: red;
   
    --medium-gray: #c9d3dd;
    

    --green: #66ffaf;
    --dove-blue:#6498c3;
    --bright-blue: #0051ff;
    --dark-blue: #223871;
    --almost-black: #0b0e1b;
    --pink: #ff25db;
    --blue-gray: #e2e6f2;
    --light-gray: #efefef;
    --dark-gray: #666666;

    --color__link: black;
    --color__link-visited: blue;
    --color__link-hover: red;

    --color__border-button: red;
    --color__background-button: green;
    --color__border-button-hover: blue;
    --color__border-button-focus: yellow;

    --color__text-input: red;
    --color__border-input: red;
    --color__text-input-focus: red;

    --ease: cubic-bezier(.12, .845, .305,1);

    --ratio-square: 1;
    --ratio-landscape: 4/3;
    --ratio-portrait: 3/4;
    --ratio-widescreen: 16/9;
    --ratio-ultrawide: 18/5;
    --ratio-golden: 1.6180/1;

    --font-xsmall: 12px;
    --font-small: 13px;
    --font-text: 18px;
    --font-medium: 26px;
    --font-large: 36px;    
    --font-xlarge: 120px;
    --font-button: var(--font-medium);

    --button-height: 65px;
}