html{
    //base-colors
    --black: #0b0e1b;
    --true-black: 000;
    --main-color: red;


    --color__link: black;
    --color__link-visited: blue;
    --color__link-hover: var(--pink);

    --color__border-button: red;
    --color__background-button: green;
    --color__border-button-hover: blue;
    --color__border-button-focus: yellow;



    --ease: cubic-bezier(.12, .845, .305,1);

    --ratio-square: 1;
    --ratio-landscape: 4/3;
    --ratio-portrait: 3/4;
    --ratio-widescreen: 16/9;
    --ratio-ultrawide: 18/5;
    --ratio-golden: 1.6180/1;

    --font-xsmall: 12px;
    --font-small: 13px;
    --font-text: 18px;
    --font-medium: 26px;
    --font-large: 36px;    
    --font-xlarge: 120px;
    --font-button: var(--font-medium);

    --button-height: 65px;

    font-size: 62.5%; // 1rem = 10px;

    --section-border: 1px solid var(--color-Border-Gray);

    //HEALDLINES
  // --headline-2xs: clamp(1.74rem, calc(0.0034259259259259247 * (100vw - 36rem) + 1.74rem), 2.11rem);
//--headline-xs: clamp(2.18rem, calc(0.005833333333333333 * (100vw - 36rem) + 2.18rem), 2.81rem);
--headline-s: clamp(2.200rem, calc(2.061rem + 0.435vw), 2.600rem);
--headline-m: clamp(2.400rem, calc(2.261rem + 0.435vw), 2.800rem);
--headline-l: clamp(2.800rem, calc(2.522rem + 0.87vw), 3.600rem);
--headline-xl: clamp(3.200rem, calc(2.087rem + 3.478vw), 6.400rem);
--headline-2xl: clamp(3.600rem, calc(0.330rem + 10.217vw), 13.000rem);
//--headline-3xl: clamp(8.3rem, calc(0.06935185185185183 * (100vw - 36rem) + 8.3rem), 15.79rem);

// TEXT
--text-2xs :clamp(0.93rem, calc(0.0021296296296296285 * (100vw - 36rem) + 0.93rem), 1.16rem);
--text-xs : clamp(1.11rem, calc(0.002592592592592591 * (100vw - 36rem) + 1.11rem), 1.39rem);
--text-s :clamp(1.33rem, calc(0.003148148148148147 * (100vw - 36rem) + 1.33rem), 1.67rem);
--text-m:clamp(1.6rem, calc(0.003703703703703703 * (100vw - 36rem) + 1.6rem), 1.8rem);
--text-l : clamp(1.92rem, calc(0.0044444444444444444 * (100vw - 36rem) + 1.92rem), 2.4rem);
--text-xl :clamp(2.3rem, calc(0.005370370370370371 * (100vw - 36rem) + 2.3rem), 2.88rem);
--text-2xl :clamp(2.76rem, calc(0.006481481481481483 * (100vw - 36rem) + 2.76rem), 3.46rem);
--text-3xl: clamp(3.32rem, calc(0.00768518518518519 * (100vw - 36rem) + 3.32rem), 4.15rem);

//LINE HEIGHT
--lineheight-xs: 0.6em;
--lineheight-s: 0.85em;
--lineheight-m: 1em;
--lineheight-l: 1.05em;
--lineheight-xl: 1.15em;
--lineheight-2xl: 1.40em;

// SPACING
--spacing-100: 2px;
--spacing-200: 5px;
--spacing-300: 8px;
--spacing-400: 13px;
--spacing-500: 20px;
--spacing-600: 34px;
--spacing-700: 55px;
--spacing-750: 64px;
--spacing-800: 85px;
--spacing-1000: 98px;
--spacing-1200: 122px;

// COLORS

--colors-Purple-700: #AA509BFF;
--colors-Purple-500: #CD4EBA;

--colors-Green-600: #556B13;
--colors-Green-300: #9BC12BFF;
--colors-Green-200: #ACD530;
--colors-Green-50: #F1FBD2;

--colors-Brown-400: #C2AD6BFF;
--colors-Brown-600: #7D6F43;

--colors-Blue-900: #041C36;
--colors-Blue-700: #134676FF;
--colors-Blue-500: #1E63A5FF;
--colors-Blue-400: #3191ECFF;
--colors-Blue-300: #3191ECFF;
--colorsWhite: #FFFFFFFF;
--colors-Blue-50: #EBF1FEFF;

--colors-Gray-50: #F9FAFBFF;
--colors-Gray-100: #F3F4F6FF;
--colors-Gray-200: #E5E7EBFF;
--colors-Gray-300: #D1D5DBFF;
--colors-Gray-400: #9CA3AFFF;
--colors-Gray-500: #6B7280FF;
--colors-Gray-600: #4B5563FF;
--colors-Gray-700: #374151FF;
--colors-Gray-800: #1F2937FF;
--colors-Gray-900: #111827FF;
--colorsBlack: #000000FF;
--colors-Blue-950: #021125FF;

--gradient-green: linear-gradient(90deg, #9bc12b, #96bc28, #91b625, #8db123, #88ac20, #83a61d, #7fa11a, #7a9c17);
--gradient-purple: linear-gradient(90deg, #c242af, #bc41aa, #b63fa4, #b03e9f, #aa3c9a, #a53b94, #9f398f, #99388a);
--gradient-blue: linear-gradient(90deg, #1c7dda, #1c79d2, #1c76cb, #1c72c3, #1d6ebb, #1d6ab4, #1d67ac, #1e63a5);
--gradient-dark: linear-gradient(90deg, #11133c, #111134, #110f2c, #100c25, #0e091e, #0a0617, #05030d, #000000);

    --color__text-input: var(--colors-Gray-800);
      --color__border-input: var(--colors-Gray-300);
      --color__text-input-focus: var(--colors-Gray-800);
      --color__border-input-focus: var(--colors-Gray-500);

--spacing-2xs: var(--spacing-100);
--spacing-xs: var(--spacing-200);
--spacing-s: var(--spacing-300);
--spacing-m: var(--spacing-400);
--spacing-l: var(--spacing-500);
--spacing-xl: var(--spacing-600);
--spacing-2xl: var(--spacing-700);
--spacing-3xl: var(--spacing-800);
--spacing-4xl: var(--Space-1200);
--spacing-5xl: var(--Space-1600);

--color-Text-Black: var(--colors-Blue-950);
--color-Dark-Gray: var(--colors-Gray-700);
--color-Medium-Dark-Gray: var(--colors-Gray-500);
--color-Medium-Light: var(--colors-Gray-300);
--color-Border-Gray: var(--colors-Gray-200);
--color-Very-Light-Gray: var(--colors-Gray-50);
--color-Almost-White: #FAFCFFFF;
  


}

