.menu-top{
	display: flex;
	list-style: none;
	
	li{
		margin-left: var(--spacing-l);
		&:last-child{
			margin-left: var(--spacing-s);
		}
		a{
			color: white;
			text-decoration: none;
			font-size: var(--text-s);
			font-family: var(--font-text-regular);
			&:hover{
				color: var(--colors-Blue-300)
			}
		}
	}
}

.main-navigation{
	display: flex;
}

.bottom-header{
	position: relative; // make this relevant for mega-menu
}

.body--scrolled{
	.main-navigation ul.main-navigation__menu li{
		.sub-menu-container{
			top: calc(100% - 8px);
		}
	}
}

.main-navigation ul.main-navigation__menu {
	list-style: none;
	border: 0;
	display: flex;
	justify-content: flex-end;
	position: static;
	top: -7px;
	z-index: 2;

	&:after,
	&:before {
		display: none; // remove from flex alignment! 
	}


	&>li {

		&>a {
			display: block;
			margin: 0;
			padding: 6px 18px 6px;
			text-decoration: none;
			position: relative;
			font-size: var(--font-text);
			font-weight: 500;
			transition: all 0.3s var(--ease);
			border-top-left-radius: 5px;
				border-top-right-radius: 5px;

			&::after {
					content: "";
					display: inline-block;
					display:none;
					top: -2px;
					position: relative;
					width: 6px;
					height: 6px;
			
					margin-left: 8px;
			
					border-right: 2px solid currentColor;
					border-bottom: 2px solid currentColor;
			
					transform: rotate(45deg);
					vertical-align: middle;
			
					transition: transform 0.2s ease;
			}


			&:hover{
				
				text-decoration: none;
		
				background: var(--very-light-gray);
				background: RGBA(0,0,0,0.03);


			}

			&:focus {
				color: white;
				text-decoration: underline;

			}
		}

		// NOCH ANPASSEN FALLS AUF KLICK? 
		&.menu-item-has-children:hover>a::after,
		&.menu-item-has-children.open>a::after {
			transform: rotate(225deg);
		}

		&.mega-menu{
			position: static;
		}

		//	SUBMENU
		.sub-menu-container{
			position: absolute;
				top: calc(100% - 34px);
				z-index: 1000;
				background: white;
				overflow: hidden;
			
				min-width: 320px;
				max-width: 1400px;
				width: max-content;
			
				display: grid;
				grid-template-columns: 280px 1fr;
				gap: var(--spacing-m);
				
				width: min(1400px, 95vw);
				
			
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			
				box-shadow:
				0 10px 30px rgba(0, 0, 0, 0.08);
			
				opacity: 0;
				visibility: hidden;
				left: 50%;
				transform: translateX(-50%) translateY(10px);
			
				transition:
				opacity 0.2s ease,
				transform 0.2s ease,
				visibility 0.2s ease;

				.mega-menu-sidebar {
					background: var(--color-Dark-Gray);
						padding: var(--spacing-m);
						display: flex;
						flex-direction: column;
						gap: 20px;
						justify-content: space-between;
						padding-right: 24px;
						border-right: 1px solid #eee;
						p, .parent-category-link a{
							color: white;
						}
					}

			.menu-description {
					grid-column: 1 / -1;
					padding-bottom: 16px;
					margin-bottom: 8px;
					font-size: 14px;
					line-height: 1.6;
				}

			.parent-category-link a {
				display: flex;
				padding-top: 10px;
				font-size: var(--text-s);
				align-items: center;
				gap: 8px;
				border-top: 1px solid RGBA(255, 255, 255, 0.2);
				font-weight: 600;
				text-decoration: none;
				&:hover{
					color: var(--colors-Blue-400);
				}
			}

		}

		ul,
		ul {
			display: grid;
			grid-template-columns: repeat(3, minmax(180px, 1fr));
			gap: 0;
			
			margin: 0;
			padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0 ;
			list-style: none;

			a {
				font-size: var(--text-s);
					display: block;
					padding: 6px 18px;
					border-radius: 18px;
					text-decoration: none;
					color: inherit;
					transition: opacity 0.2s ease;
					&:hover{
						background: var(--colors-Gray-100);
					}
				}
	

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {color: black;}
			}
		}

		/* showing sub-menus */
		&:hover>.sub-menu-container {
			opacity: 1;
				visibility: visible;
				transform: translateX(-50%) translateY(0);
		}

	}

	&>li:nth-child(1){
		--nav-color: var(--colors-Brown-400);
		&:hover{
			>a{
				color: black;
			}
		}
	}
	&>li:nth-child(2)  {
	--nav-color: var(--colors-Blue-500);
	}
	&>li:nth-child(3) {
	--nav-color: var(--colors-Green-300);
	}
	&>li:nth-child(4){
	--nav-color: var(--colors-Purple-700);
	}

	&>li{
		
	.sub-menu-container {
			border-top: 10px solid var(--nav-color);
		}
	
		&>a {
			border-bottom: 2px solid var(--nav-color);
			
		}

		&:hover >a {
			background: var(--nav-color);
			color: white;
		}
	}



	li.nav_contact a{
		background-color: var(--colors-Dark-Blue);
		background: var(--colors-Dark-Blue);
		color: white;
		border-radius: 18px;
		margin-left: 9px;
		&:hover {
			background: var(--colors-Pink);
		}
	}

	/* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		&>a {
			
			background: RGBA(0, 0, 0, 0.05);
			color:inherit;
		}
	}

	/* end current highlighters */
}


.main-navigation ul .wpml-ls-item a{
	border-radius: 16px;
	padding: 8px 3px;
	font-size: 14px;
	display: none;
	&:hover{
		
		color: var(--pink);
		background: none;
	}
}

.main-navigation ul .wpml-ls-item-de {
	display: flex;
	margin-left: 25px;
}

.main-navigation ul .wpml-ls-item-en{
	display: flex;
	&::before{
		content: '|';
		display: inline;
		padding-top: 7px;
	}
}


.search-wrapper {
	display: flex;
	max-width: 400px;
}

input[type="search"].search-field {
	flex: 1;
	padding: 12px 15px;

	border-right: none;
	//border-radius: 0 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 0;
	outline: none;
}

.search-submit {
	margin: 0;
	width: 50px;
	border: none;
	background: var(--colors-Blue-500);
	/* Blue background */
	color: #fff;
	cursor: pointer;
	border-radius:0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	transition: background 0.3s ease;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 5px;
	span{
		display: inline-block;
		top: -1px;
		position: relative;
		width: 24px;
		height: 24px;
		background: url(../images/icons/icon-search.svg) center center / contain no-repeat;
	};
}

.search-submit:hover {
	background: var(--colors-Blue-700);
}
.search-submit:active {
	background: var(--colors-Blue-400);
}

.page-overlay .search-container {
	display: block;
	margin:  0;
	padding: 0;
	width: 100%;
	.search-wrapper {
		max-width: 100%;
	}
	.search-field {
		width: 100%;
		border: none;
		border-bottom:var(--colors-Gray-200) d 1px solid;
		padding-left: 2.5%;
	}
}
//////////////////////
// OVERLAY
//////////////////////

.mobile-menu-bottom {
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing-m) 2.5%;
	border-top: 1px solid var(--colors-Gray-200);
	list-style: none;
	li{
		width: 50%;
		a{
			display: flex;
			align-items: flex-start;
			padding: 4px 0;
			text-decoration: none;
			font-size: var(--text-s);
			color: var(--colors-Gray-700);
		}
	}
}

.page-overlay {
	
	.page-overlay__container {
		display: flex;
		flex-wrap: wrap;
		

		nav {
			width: 100%;
		}
	}

	// end nav content

	nav {

		.main-navigation__container ul.main-navigation__menu {

			//display: flex;
			flex-direction: column;
			list-style: none;

			&>li {
				margin:  0;
				border-bottom: 1px solid var(--colors-Gray-200);
				a {
					
					text-decoration: none;
					padding: 10px 2.5%;
					display: block;
					line-height: 1.4;
					text-transform: none;
					font-size: var(--font-text);

					&::after {
						display: none;
					}
					&:hover{
						color: var(--pink)
					}

				}


				&.current-menu-item {
					&>a {
						background: var(--colors-Gray-100);
					}
				}

				&.current-menu-ancestor, &.current-page-ancestor {
					&>a {
						background: var(--colors-Gray-100);
					}

				}

				.sub-menu-container {
					.sub-menu{
						padding-bottom: 10px;
						li{
							a{
								padding: 4px 2.5%;
								font-size: var(--text-s);
								font-weight: 400;
								color: var(--colors-Gray-700);
							}
							&.current-menu-item {
								&>a {
									background: var(--colors-Gray-100);
									color: black;
								}
							}
						}
					}
				}
			}
		}


	}

	.mobile-search-link {
		display: block;
		text-align: left;
		padding: 10px 2.5%;
		font-size: var(--font-text);
		text-decoration: none;
		border-bottom: 1px solid var(--colors-Gray-200);

	}


}

/* end .nav */

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


