.page-overlay {
	display: inline-block;
}


.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	height: 100vh;
	width: 100%;
	background: var(--almost-black);
	transition: all 0.4s var(--ease);
	transform: translateX(100%);
	display: flex;
	justify-content: flex-end;
	padding: 0 40px 20px;
}

.overlay-left{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	height: 100vh;
	background: var(--light-gray);
	width: 61.8%;
	border-top-right-radius: 18px;
	//border-bottom-right-radius: 18px;
	transform: translateX(-100%);
	transition: all 0.3s var(--ease);
	transition-delay: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px 20px;
	//opacity: 0;

}

.overlay-left__container{
height: 100%;
display: flex;
flex-direction: column;
div{
	width: 100%;
}

}

.quick-cta{
	margin-top: auto;
	align-self: flex-start;
	p {
			max-width: 600px;
		}

		.quick-cta__logo {

			display: block;
			width: 40px;
			height: 40px;
			margin-left: 10px;
			background: url("../images/svg/monkey-blue.svg") center center / contain no-repeat;

		}
}

.quick-contact {
	align-self: flex-end;
	margin-top: auto;
	ul {
		list-style: none;
	}

	.social_icon{
		display: none;
	}

}

.overlay-left h2{
	font-size: var(--font-very-large);
	font-weight: 700;
	line-height: 1.1;
	
}



.overlay-right{
	width: 36%;
	background: var(--almost-black);
	display: flex;
	align-items: center;
	justify-content: center;

}


.overlay-right__container{
	display: flex;
	flex-direction: column;
	height: 100%;

	.mobile-menu {
			margin-top: auto;
			align-self: flex-start;

		}
	
	.social_container{
		margin-top: auto;


			a{
				color: var(--dove-blue);
				&:hover{
					color: var(--pink);
				}
			}

	}
}



.nav-toggle {
	--toggle-line-width: 27px;
		--toggle-line-height: 4px;
		--toggle-text-color: white;

	position: fixed;
	width: 120px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
	background: var(--dove-blue);
	color: var(--toggle-text-color);
	font-weight: 600;
	top: 0;
	right: 0;
	transition: all 0.5s var(--ease);
	text-decoration: none;

	.type{
		position: relative;
		top:-1px;
		margin-right: 7px;
	}
	
	//transform: translateX(100%)

	span.bars {
			
			display: block;
			height: var(--toggle-line-height);
			width: var(--toggle-line-width);
			top: -2px;
	
			background: var(--toggle-text-color);
			position: relative;
			transition: all 0.3s var(--ease);
	
	
			&::after,
			&::before {
				display: inline-block;
				content: '';
				position: absolute;
				height: var(--toggle-line-height);
				width: var(--toggle-line-width);
				background: var(--toggle-text-color);
				transition: all 0.3s var(--ease);
			}
	
			&::before {
				top: -10px;
			}
	
			&::after {
				top: 10px;
			}
		}

	&:hover{
		color: white;
		background: var(--pink);
	}
}

.body__scrolled,
.body__menu_open {

	.nav-toggle {
		transform: translateX(0)
	}

	.page-overlay {
		display: flex;
		
	}

}

//// MENU OPEN
.body__menu_open {

	.nav-toggle {
		span.bars {
				background: transparent;
		
		
				&::before {
					transform: rotate(45deg) translate(0, 0);
					top: 0px;
				}
		
				&::after {
					transform: rotate(-45deg);
					top: 0px;
				}
			}
	}

	.page-overlay {
		transform: translateX(0);
		.nav_content {
			left: 0;
		}
	}
		.overlay-left {

			transform: translateX(0%);
			
		}
}

// MENU OPEN
.body__menu_open {
	--toggle-color: white;
	--toggle-color-hover: var(--jas_yellow_contrast);

}

html.menu_open{
	overflow: hidden;
	height: 100vh;
}


.nav li.current-menu-item {
	&>a {
		
	}
}

@media only screen and (max-width: 767px) {

	.body__menu_open{
		.logo{
			display: none;
		}
	}

	/// START OVERLAY LEFT
	.overlay-left{
		background: var(--almost-black);
		height: 55px;
		width: 100vw;
		padding: 0;
		border-radius: 0;

		.overlay-left__container{
			width: 100%;
				justify-content: space-between;
				flex-direction: row;
				padding-right: 70px;
				padding-left: 2vw;
				align-items: center;
		}

		.quick-cta{
			align-self: normal;
			height: 100%;
			h2, p,.button{
				display: none;
			}
			.quick-cta__logo{
				height: 100%;	

			}
		}

		.quick-contact{
			margin-top: 0;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			ul{
				
				display: flex;
				justify-content: flex-end;

				li{
					border-left: 1px solid #333;

					width: 70px;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					a{
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
							align-items: center;
					}
				}
			}

			.social_icon{
				display: inline-block;
				color: var(--dove-blue);
			}
			.text{
				display: none;
			}
		}
	}
	// END OVERLAY LEFT

	// START OVERLAY RIGHT
	.page-overlay{
		padding: 7px;
		width: 100vw;
	}
	.overlay-right{
		width: 100%;
		align-items: flex-start;
		justify-content: flex-start;
		padding-left: 3vw;
	}

	.overlay-right__container {
		.mobile-menu, .social_container {
				margin-top: 70px;}
	}

}