.page-overlay {
	display: inline-block;
}


.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	height: 100vh;
	width: 100%;
	background: var(--colors-Gray-50);
	transition: all 0.4s var(--ease);
	transform: translateX(100%);
	padding:0;

	.sub-menu-container{
		.mega-menu-sidebar{
			display:none
		}
	}


}

.overlay__header {
	width: 100%;
	display: flex;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px 20px 2.5%;
	background: var(--colors-Gray-200);
	.overlay__header-buttons{
		display: flex;
		justify-content: flex-end;
	}
	.overlay__header-buttons > span{
		height: 40px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		a{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: white;
		}
		background: var(--colors-Purple-700);
	}
	span:nth-of-type(even) {
		background: var(--colors-Green-300);
	}
}

.page-overlay__container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	nav {
		width: 100%;
	}
}

.submenu-toggle {
	display: none;
}

@media (max-width: 1029px) {

	.mega-menu {
		position: relative;
	}

	.mega-menu>.submenu-toggle {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		position: absolute;
		top: 0;
		right: 0;
		

		width: 150px;
		height: 45px;

		padding: 0 20px 0 0;
		border: 0;
		background: transparent;
		//background: red;
		margin: 0;
		border-radius: 0;
		cursor: pointer;
		z-index: 10;
	}

	.mega-menu>.submenu-toggle::after {
		content: "";

		width: 8px;
		height: 8px;

		border-right: 2px solid currentColor;
		border-bottom: 2px solid currentColor;

		transform: rotate(45deg);
		transition: transform 0.2s ease;
	}

	.mega-menu.is-open>.submenu-toggle::after {
		transform: rotate(225deg);
	}

	.mega-menu>.sub-menu-container {
		display: none;
	}

	.mega-menu.is-open>.sub-menu-container {
		display: block;
	}
}

// NAV TOGGLE

.nav-toggle {
	--toggle-line-width: 18px;
	--toggle-line-height: 3px;
	--toggle-text-color: var(--colors-Blue-50);

	width: 50px;
	height: 40px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
	background: var(--colors-Blue-700);
	color: var(--toggle-text-color);
	font-weight: 600;
	top: 0;
	right: 0;
	transition: all 0.2s var(--ease);
	text-decoration: none;

	.type{
		position: relative;
		top:-1px;
		margin-right: 7px;
	}
	
	//transform: translateX(100%)

	span.bars {
			
			display: block;
			height: var(--toggle-line-height);
			width: var(--toggle-line-width);
			top: -1px;
	
			background: var(--toggle-text-color);
			position: relative;
			transition: all 0.2s var(--ease);
	
	
			&::after,
			&::before {
				display: inline-block;
				content: '';
				position: absolute;
				height: var(--toggle-line-height);
				width: var(--toggle-line-width);
				background: var(--toggle-text-color);
				transition: all 0.3s var(--ease);
			}
	
			&::before {
				top: -6px;
			}
	
			&::after {
				top: 6px;
			}
		}
}

.body--scrolled.body__menu_open .nav-toggle {
background: var(--colors-Blue-950);
	--toggle-text-color: white;
	border-bottom: none;
}
.body__menu_open {

	.nav-toggle {
		transform: translateX(0);
		
	}
}

//// MENU OPEN
.body__menu_open {

	.nav-toggle {
		span.bars {
				background: transparent;
		
		
				&::before {
					transform: rotate(45deg) translate(0, 0);
					top: 0px;
				}
		
				&::after {
					transform: rotate(-45deg);
					top: 0px;
				}
			}
	}

	.page-overlay {
		transform: translateX(0);
		.nav_content {
			left: 0;
		}
	}

}

// MENU OPEN
.body__menu_open {
	--toggle-color: white;
	--toggle-color-hover: var(--jas_yellow_contrast);

}

html.menu_open{
	overflow: hidden;
	height: 100vh;
}


@media only screen and (max-width: 767px) {


}