button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--color__border-button);
	border-radius: 3px;
	background: var(--color__background-button);
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: var(--color__border-button-hover);
	}

	&:active,
	&:focus {
		border-color: var(--color__border-button-focus);
	}
}

.button{
	margin-top: var(--flow-medium);
	border: 1px solid var(--dove-blue);
	border-radius: 30px;
	height: 63px;
	min-width: 300px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: var(--font-medium);
	text-decoration: none;
	z-index: 2;
	position: relative;
	transition: all 0.3s var(--ease); 

	&:hover{
		color: white;
		background: var(--pink);
		border: 1px solid var(--pink);
	}

	&+.button{
		margin-left: 20px;
	}

}