button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 8px;
	background: var(--color__background-button);
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		cursor: pointer;
	}

	&:active,
	&:focus {
		border-color: var(--color__border-button-focus);
	}
}

.button{
	border-radius: 5px;
	min-width: 300px;
	padding: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: var(--text-m);
	text-decoration: none;
	color: white;
	z-index: 2;
	position: relative;
	flex-basis: auto;
	width: auto;
	align-self: flex-start;
	transition: all 0.3s var(--ease); 

}

.button.green_outline{
	border: 1px solid var(--colors-Green);
	&:hover {
			border: 1px solid var(--colors-Green);
			background: var(--colors-Green);
			color: var(--colors-Almost-Black)
		}
}

.button.solid--green{
	background: var(--colors-Green);
	&:hover{
		
	}
}

.button--blue{
	background-color: var(--colors-Blue-500);
	&:hover{
		background: var(--colors-Blue-700);
		color: white;
	}
	&:active{
		background: var(--colors-Blue-400);
		color: white;
	}
}

.button--subtle{
	color: var(--colors-Almost-Black);
	min-width: 0;
	padding-left: 0;
	padding-right: 0;
}

.button--color-white{
	color: white;
}

.button--large{
padding: var(--spacing-md) var(--spacing-md);
min-width: 300px;
font-size: var(--text-xl);
}

.button--medium {
padding: var(--spacing-md) var(--spacing-xl);
	font-size: var(--text-l);
	border-radius: 30px;
	min-width: 200px;
}

.button--small {
	padding: var(--spacing-sm);
	font-size: var(--text-m);
	border-radius: 30px;
	min-width: 150px;
}

.button--on-color{
	background: rgba(0, 0, 0, 0.25);
	color: white;
	&:hover{
		background: rgba(0, 0, 0, 0.15);
	}
}

form .button{
	margin-top: var(--spacing-m);
	width: 100%;
}

button:disabled, button:disabled:hover{
	background: var(--colors-Gray-400);
	color: var(--colors-Gray-500);
	border: var(--colors-Gray-600);
	cursor: inherit;
}

.button--icon{
	.icon-before{
		&::before{
			content:"before";
			
		}
	}
}