button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--color__border-button);
	border-radius: 3px;
	background: var(--color__background-button);
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: var(--color__border-button-hover);
	}

	&:active,
	&:focus {
		border-color: var(--color__border-button-focus);
	}
}

.button{
	border: 1px solid var(--dove-blue);
	border-radius: 30px;
	min-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: var(--font-medium);
	text-decoration: none;
	z-index: 2;
	position: relative;
	flex-basis: auto;
	width: auto;
	align-self: baseline;
	padding: var(--spacing-md) var(--spacing-md);
	transition: all 0.3s var(--ease); 

	&:hover{
		color: white;
		background: var(--pink);
		border: 1px solid var(--pink);
	}

	&+.button{
		margin-left: 20px;
	}

}

.button-size-l{
padding: var(--spacing-md) var(--spacing-md);
min-width: 300px;
font-size: var(--text-xl);
}

.button-size-m {
padding: var(--spacing-s) var(--spacing-md);
	font-size: var(--text-l);
	border-radius: 30px;
	min-width: 200px;
}