input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
	color: var(--color__text-input);
	border: 1px solid var(--color__border-input);
	border-radius: 8px;
	padding: 5px;
	height: 42px;
	font-size: var(--text-s);

	&:focus, &:focus-visible {
		color: var(--color__text-input-focus);
		border: 1px solid var(--color__border-input-focus);
	}
}

select {
	border: 1px solid var(--color__border-input);
	margin-top: var(--spacing-xs);
}

textarea {
	width: 100%;
}

.field {
	display: flex;
	flex-direction: column;
	margin-top: var(--spacing-m);
}

label{
	font-size: var(--text-m);
	display: block;
}