a {
	color: var(--color__link);

	&:visited {
		//color: var(--color__link-visited)
	}

	&:hover{
		color: var(--color__link-hover);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
